In [7]:
import yfinance as yf
import pandas as pd
import datetime as dt

In [14]:
def fetch_stock_history(
    ticker: str, start: dt.date = dt.date(2010, 1, 1), end=dt.date(2025, 1, 1)
) -> pd.DataFrame:
    stock_history = yf.download(
        ticker,
        auto_adjust=False,
        actions=True,
        start=start,
        end=end,
        multi_level_index=False,
    )
    return stock_history


def process_stock_history(stock_history: pd.DataFrame) -> pd.DataFrame:
    stock_history = stock_history[
        [
            "Open",
            "High",
            "Low",
            "Close",
            "Adj Close",
            "Volume",
            "Dividends",
            "Stock Splits",
        ]
    ]
    stock_history = stock_history.dropna()
    stock_history["Return"] = stock_history["Adj Close"].pct_change()
    stock_history["MA_10"] = stock_history["Adj Close"].rolling(window=10).mean()
    stock_history["MA_50"] = stock_history["Adj Close"].rolling(window=50).mean()
    stock_history = (
        stock_history.dropna()
    )  # drop missing MA values from beginning of history
    return stock_history

In [31]:
ticker = "AAPL"
raw_data = fetch_stock_history(ticker, start=dt.date(1950, 1, 1), end=dt.date.today())
processed_data = process_stock_history(raw_data)

display(processed_data.head())

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Return,MA_10,MA_50
Date,,,,,,,,,,,
1981-02-24,0.107143,0.107143,0.106027,0.106027,0.081646,16979200,0.0,0.0,-0.035531,0.088307,0.102092
1981-02-25,0.112723,0.113281,0.112723,0.112723,0.086802,19488000,0.0,0.0,0.063154,0.087619,0.101851
1981-02-26,0.114397,0.114955,0.114397,0.114397,0.088091,10841600,0.0,0.0,0.014850,0.087361,0.101739
1981-02-27,0.118304,0.119420,0.118304,0.118304,0.091100,14761600,0.0,0.0,0.034153,0.087490,0.101825
1981-03-02,0.118862,0.119420,0.118862,0.118862,0.091530,11760000,0.0,0.0,0.004717,0.087877,0.101877

In [30]:
processed_data["Adj Close"].rolling(window=10).mean()

Date
1981-02-24           NaN
1981-02-25           NaN
1981-02-26           NaN
1981-02-27           NaN
1981-03-02           NaN
                 ...
2025-01-22    233.201999
2025-01-23    231.346999
2025-01-24    229.354999
2025-01-27    228.655998
2025-01-28    229.041998
Name: Adj Close, Length: 11073, dtype: float64

In [29]:
processed_data["Adj Close"]

Date
1981-02-24      0.081646
1981-02-25      0.086802
1981-02-26      0.088091
1981-02-27      0.091100
1981-03-02      0.091530
                 ...
2025-01-22    223.830002
2025-01-23    223.660004
2025-01-24    222.779999
2025-01-27    229.860001
2025-01-28    238.259995
Name: Adj Close, Length: 11073, dtype: float64